*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background-image:url(background.jpg);
  background-size: cover;
}

#container1{
  background-color: rgba(0, 0, 0, 0.5);
  width: 1000px;
  height: 700px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  border-radius: 15px;
}

#container1 img{
  width: 200px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
}

#container1  h2{
  text-align: center;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  color: 	rgb(0, 230, 0);
}

#container2{
  width: 800px;
  height: 40px;
  background-color: rgb(0, 230, 0);
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container2 button{
  margin-left: 5px;
  margin-right: 5px;
}

.infomonopattino > h3 {
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.infomonopattino {
  margin-left: 100px;
  margin-top: 10px;
}

.infomonopattino > div {
  background-color: rgb(255, 204, 0);
  width: 300px;
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
}

.infomonopattino > span {
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

#rettangolocarica2{
  background-color: rgb(92, 214, 92);
  width: 450px;
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
}

#rettangolocarica3{
  background-color: rgb(230, 0, 0);
  width: 130px;
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
}
